@page
@model ExpressO.Pages.Forms.LoginModel
@{
    ViewData["Title"] = "Login";
}


@if (Model.ShowMessage)
{
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    @Model.Message
</div>
}

<h2>Login</h2>


<div class="container-fluid">
    <form class="form-horizontal" method="post">
        <div class="col-md-6">
            <fieldset>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Login.UserName" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" asp-for="Login.UserName" placeholder="Username">
                    </div>
                    <div class="col-md-4">
                        <span asp-validation-for="Login.UserName" class="text-danger"></span>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Login.Password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" asp-for="Login.Password" placeholder="Password">
                    </div>
                    <div class="col-md-4">
                        <span asp-validation-for="Login.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-2">
                        <a asp-page="/Forms/Signup">Sign Up</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>

