@page
@model ExpressO.RazorPages.SignupModel
@{
    ViewData["Title"] = "Signup";
}

<h2>Signup</h2>

<div>
    <div>
        <form method="post">
            <h4>Log In</h4>
            <hr />
            <div>
                <label asp-for="Login.UserName"></label>
                <input type="text" asp-for="Login.UserName" />
            </div>
            <div>
                <label asp-for="Login.Password"></label>
                <input type="password" asp-for="Login.Password" />
            </div>
            <div>
                <label asp-for="Login.FirstName"></label>
                <input type="text" asp-for="Login.FirstName"/>
            </div>
            <div>
                <label asp-for="Login.LastName"></label>
                <input type="text" asp-for="Login.LastName"/>
            </div>
            <div>
                <label asp-for="Login.Email"></label>
                <input type="text" asp-for="Login.Email"/>
            </div>
            <div>
                <button type="submit">Signup</button>
            </div>
        </form>
    </div>
</div>