@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html>
    <body style="background-size: cover; background-size: 100% 100%; background: url('../images/coffeeMaker.jpg') no-repeat center">

    </body>
</html>