@page
@model CoffeeProjectWebApp.LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<h1>Login</h1>

<form method="post">
    <input type="text" asp-for="Login.UserName" placeholder="UserName" />
    <input type="text" asp-for="Login.PassWord" placeholder="Password" />
    <button type="submit">Submit</button>

</form>


<form method="post" asp-page="Login">
    <input type ="submit" value="Signup" asp-page-handler="Signup" />
</form>